rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    // User document & User Applications Sub-collection
    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /applications/{applicationId} {
        allow read, write: if isOwner(userId);
      }
    }

    // Deny all other unmatched paths
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
